body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-weight: normal;
  font-size: 2.6em;
}

table {
  width: 100%;
}

table th,
table td {
  padding: 1em;
  vertical-align: top;
}

.date {
  margin-left: 1em;
}

.best-sellers {
  width: 80%;
  margin: 0 auto;
  text-align: left;
}

.title {
  font-size: 1.2em;
}

.author {
  font-size: 0.9em;
  font-style: italic;
}

.description {
  font-size: 0.8em;
  color: #666;
}